.p {
  text-align: center;
  background-image: url(../img/h_img.jpg);
  padding-bottom: 300px;
  padding-top: 550px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

.p1 {
  text-align: center;
}
.p2 {
  text-align: center;
  background-image: url(..//img/s_image.jpg);
  color: white;
  padding-bottom: 40px;
  padding-top: 60px;
}
.p3 {
  text-align: center;
}
.A,.B,.C,.D,.E,.F,.G,.H {
  width: 154px;
  margin: 5px;
  height: 154px;
}
.A {
  background-image:url(../img/portfolio/work1.jpg);
  background-size: cover;
}
.B {
  background-image:url(../img/portfolio/work2.jpg);
  background-size: cover;
}
.C {
  background-image:url(../img/portfolio/work3.jpg);
  background-size: cover;
}
.D {
  background-image:url(../img/portfolio/work4.jpg);
  background-size: cover;
}
.E {
  background-image:url(../img/portfolio/work5.jpg);
  background-size: cover;
}
.F {
  background-image:url(../img/portfolio/work6.jpg);
  background-size: cover;
}
.G {
  background-image:url(../img/portfolio/work7.jpg);
  background-size: cover;
}
.H {
  background-image:url(../img/portfolio/work8.jpg);
  background-size: cover;
}
form{
  width: 700px;
  max-width: 90%;
}
form input, form textarea{
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 7px;
}
.message {
  padding: 4px 14px;
  margin: 7px 2px;
  width:720px;
  max width: 90%;
}
form textarea{
  margin-top: 20px;
  width: 96%;
}
