.p {
  text-align: center;
  background-image: url(../img/h_img.jpg);
  padding-bottom: 300px;
  padding-top: 200px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

.p1 {
  text-align: center;
}
.p2 {
  text-align: center;
  background-image: url(..//img/s_image.jpg);
  color: white;
}
