.p {
  text-align: center;
  background-image: url(../img/h_img.jpg);
  padding-bottom: 300px;
  padding-top: 550px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

.p1 {
  text-align: center;
}
.p2 {
  text-align: center;
  background-image: url(..//img/s_image.jpg);
  color: white;
  padding-bottom: 40px;
  padding-top: 60px;
}
.p3 {
  text-align: center;
}
.A,.B,.C,.D,.E,.F,.G,.H {
  width: 150px;
  margin: 5.5px;
  height: 150px;
}
.A {
  background-image:url(../img/portfolio/work1.jpg);
  background-size: cover;
}
.B {
  background-image:url(../img/portfolio/work2.jpg);
  background-size: cover;
}
.C {
  background-image:url(../img/portfolio/work3.jpg);
  background-size: cover;
}
.D {
  background-image:url(../img/portfolio/work4.jpg);
  background-size: cover;
}
